HistogramName: Angle2Diff
NXBins:        100
Xmin:          0
Xmax:          180
Title:         3D Direction MC - Reco Angular Difference
XTitle:        3D Angle Difference [degrees]
YTitle:        Showers
YTitleOffSet:  1
LegendXmin:    0.6
LegendXmax:    0.9
LegendYmin:    0.5
PlotName:      Angle2Diff.eps
