HistogramName: ClusterEff2
NXBins:        100
Xmin:          0
Xmax:          1
Title:         Shower's Associated Cluster's Efficiency
XTitle:        Cluster Summed Hit Charge / Total Summed Hit Charge
YTitle:        Showers
XTitleSize:    0.045
YTitleOffSet:  0.9
LegendXmin:    0.5
LegendXmax:    0.8
LegendYmin:    0.55
LegendYmax:    0.85
PlotName:      ClusterEff2.eps
