HistogramName: EnergyResCorrU
Title:         MC Energy vs. Energy Resolution in U Plane
NXBins:        100
Xmin:          0.
Xmax:          2000.
XTitle:        MCShower Deposited Energy
NYBins:        100
Ymin:          -1.
Ymax:          1.
YTitle:        Energy Resolution
YTitleOffSet:  0.95
DrawOpt:       colz
PlotName:      EnergyResCorrU.eps
