HistogramName: hEnergyCorrU
Title:         MC Energy vs. Reco Energy in U Plane
NXBins:        100
Xmin:          0.
Xmax:          1000.
XTitle:        MCShower Deposited Energy
NYBins:        100
Ymin:          0.
Ymax:          1000.
YTitle:        Reconstructed Energy
YTitleOffSet:  0.95
DrawOpt:       colz
PlotName:      hEnergyCorrU.eps
