HistogramName: DCA
Title:         Distance of Closest Approach
NXBins:        100
Xmin:          0.
Xmax:          50.
XTitle:        Shower 1 DCA
NYBins:        100
Ymin:          0.
Ymax:          50.
YTitle:        Shower 2 DCA
YTitleOffSet:  0.95
CanvasRightMargin: 0.15
DrawOpt:       colz
PlotName:      MCDCA.eps
