HistogramName: NRecoShowers
NXBins:        8
Xmin:          -0.5
Xmax:          7.5
Title:         Number of Reconstructed Showers
XTitle:        Number of Reconstructed Showers
YTitle:        Showers
# LegendXmin:    0.5
# LegendXmax:    0.8
LegendXmin:    0.6
LegendXmax:    0.9
LegendYmin:    0.7
YTitleOffSet:  1.2
PlotName:      NRecoShowers.eps
