HistogramName: hPerfectRecoE1
NXBins:        60
Xmin:          0.
Xmax:          600.
Title:         Perfect Reconstructed Energy of the 1st Shower
XTitle:        Reconstructed Energy [MeV]
YTitle:        Showers
YTitleOffSet:  0.85
LegendXmin:    0.6
LegendXmax:    0.9
PlotName:      PerfectRecoE1.eps
