HistogramName: hPerfectRecoERecoThetaPi0Mass
NXBins:        100
Xmin:          0.
Xmax:          400.
Title:         Semi Reconstructed #pi^{0} Mass
XTitle:        Mass [MeV]
YTitle:        Events
YTitleOffSet:  0.85
LegendXmin:    0.6
LegendXmax:    0.9
PlotName:      PerfectRecoERecoThetaPi0Mass.eps
