HistogramName: RecoDCA
Title:         Distance of Closest Approach
# NXBins:        200
NXBins:        100
Xmin:          0.
Xmax:          100.
XTitle:        Shower 1 DCA
# NYBins:        300
NYBins:        150
Ymin:          0.
Ymax:          150.
YTitle:        Shower 2 DCA
YTitleOffSet:  0.95
CanvasRightMargin: 0.15
DrawOpt:       colz
PlotName:      RecoDCA.eps
