HistogramName: hStartingPointAcc
NXBins:        50
Xmin:          0
Xmax:          50
Title:         Distance Between (3D) MC Start Point and Reco Start Point
XTitle:        Distance in 3D [cm]
YTitle:        Showers
YTitleOffSet:  1
LegendXmin:    0.2
LegendXmax:    0.5
PlotName:      StartingPointAcc.eps
