HistogramName: StartingPoint1Acc
NXBins:        50
Xmin:          0
Xmax:          30
Title:         Distance Between (3D) MC Start Point and Reco Start Point
XTitle:        Distance in 3D [cm]
YTitle:        Showers
YTitleOffSet:  1
LegendXmin:    0.6
LegendXmax:    0.9
LegendYmin:    0.65
PlotName:      StartingPoint1Acc.eps
